<html>

<head>
  <title>API Web Interface</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" language="javascript" src="jquery-3.6.0.min.js"></script>
  <script src="bootstrap.bundle.min.js"></script>
  <link href="bootstrap.min.css" rel="stylesheet">
  <link href="index.css" rel="stylesheet">
  <link rel="icon" href="data:,">
  <style>

  </style>
</head>

<body>
  <h1>API Web Interface</h1>
  <p>API Response:<b id="status">BLACK</b></p>
  <p><button id="RED" class="button">RED</button></p>
  <p><button id="GREEN" class="button">GREEN</button></p>
  <p><button id="BLUE" class="button">BLUE</button></p>
  <p><button id="YELLOW" class="button">YELLOW</button></p>
  <p><button id="MAGENTA" class="button">MAGENTA</button></p>
  <p><button id="CYAN" class="button">CYAN</button></p>
  <p><button id="WHITE" class="button">WHITE</button></p>
  <p><button id="BLACK" class="button">BLACK</button></p>
  <script type="text/javascript" language="javascript" src="index.js"></script>

</body>

</html>